[Unit]
Description=Register e-mail with telia captive portal
Requires=sys-subsystem-net-devices-<wifi interface>.device

[Service]
Type=oneshot
ExecStart=/opt/poke_captive_portal/poke.py
User=<username>
Group=<username>

[Install]
WantedBy=network-online.target
