[Unit]
Description=Daily re-registration of e-mail with telia wifi

[Timer]
OnCalendar=Mon..Fri *-*-* 08:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target

